*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #BCF3CE;
    
    
}

.contains{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calculator{
    background-color: #C9C5CF;
    padding: 20px;
    box-shadow: 3px 3px black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4,70px);
    border: 2px solid black;
    

}
input{
    grid-column: span 4;
    width: 290px;
    height: 50px;
    border: 2px solid #181198;
    border-radius: 30px;
    background-color: #F5F7E5;
    box-shadow: 3px 3px #767479;
    font-size: 50px;
    outline: none;
    text-align: end;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
button{
    width: 65px;
    height: 40px;
    margin: 10px;
    border-radius: 30px;
    background-color: #3A5EA2;
    box-shadow: 3px 3px #767479;
    border: none;
    color: white;
    font-size: 25px;
}
.nooo{
    width: 130px;
}
